body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", Arial, Helvetica, sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: black;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

ul {
  list-style-type: circle;
}

.menu{
  position: relative;
  width:640px;
  margin:0 auto;
}
.pad{
  position: relative;
  top:170px;
  width:640px;
  height: 640px;
  z-index:0;
  background-color: #000;
  border-radius: 310px;
}

.button {
  width: 300px;
  height: 300px;
  float: left;
  z-index: 1;
  margin: 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.button:hover {
  cursor: pointer;
}

#green {
  border-top-left-radius: 300px;
  background-color: green;
}

#red {
  float: left;
  border-top-right-radius: 300px;
  background-color: red;
  clear: right;
}

#yellow {
  float: left;
  border-bottom-left-radius: 300px;
  background-color: yellow;
  clear: left;
}

#blue {
  float: left;
  border-bottom-right-radius: 300px;
  background-color: blue;
}

#mode:hover {
  cursor: pointer;
}

#start:hover {
  cursor: pointer;
}

#menu{
  width: 370px;
  height: 50px;
  margin: 0 auto;
  margin-top: 5px;
}

.circle {
  position: absolute;
  top: 195px;
  left: 195px;
  width: 250px;
  height: 250px;
  background: #000;
  border-radius: 125px;
  z-index: 10;
  text-align: center;
  color: white;
}

.box {
  margin: 0 auto;
  width: 120px;
  border: 3px solid white;
  text-align: center;
  color: white;
  margin-top: 25px;
  float: left; 
}
.box:active{
  background-color: white
}
